{% extends 'layout.html' %} {% block title %}Your Trip{% endblock %} {% block content %}
<div id="app" class="row">
	<div class="map-container col-sm-8 col-lg-9">
		<div>
			<div id="map-canvas"></div>
		</div>
	</div>
	<div id="control-panel" class="col-sm-4 col-lg-3 ">
		<div class="row">
			<div class="col-xs-6 col-sm-12">
				<div class="panel panel-default">
				<div class="panel-body" id="options-panel">
						<div>
							<h4>Hotels</h4>
							<select data-type="hotel" id="hotel-choices"></select>
							<button data-action="add" class="btn btn-primary btn-circle pull-right" id = "hotel-button">+</button>
					</div>
					<div>
							<h4>Restaurants</h4>
							<select data-type="restaurant" id="restaurant-choices"></select>
							<button data-action="add" class="btn btn-primary btn-circle pull-right" id = "restaurant-button">+</button>
					</div>
					<div>
							<h4>Activities</h4>
							<select data-type="activity" id="activity-choices"></select>
							<button data-action="add" class="btn btn-primary btn-circle pull-right" id = "activity-button">+</button>
					</div>
				</div>
				</div>
			</div>
			<div class="col-xs-6 col-sm-12">
				<h3>
					<span id="day-title">
						<span>Day 2</span>
						<button class="btn btn-xs btn-danger remove btn-circle">x</button>
					</span>
				</h3>
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="day-buttons">
							<button class="btn btn-circle" id="day-add" value='0'>+</button>
						</div>
					</div>
					<div class="panel-body" id="itinerary">
						<div>
							<h4>My Hotel</h4>
							<ul class="list-group" id="my-hotel-list">
							</ul>
						</div>
						<div>
							<h4>My Restaurants</h4>
							<ul class="list-group" id = "my-restaurant-list">
							</ul>
						</div>
						<div>
							<h4>My Activities</h4>
							<ul class="list-group" id ="my-activity-list">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var hotels = {{ hotels | dump | safe }};
	var restaurants = {{ restaurants | dump | safe }};
	var activities = {{ activities | dump | safe }};
	var schedule = {}; 


	$.each(hotels, function(index, value) {
			$('#hotel-choices').append(`<option data-lat=${value.place.location[0]} data-long=${value.place.location[1]}>${value.name}</option>`);  
		});
	$.each(restaurants, function(index, value) {
			$('#restaurant-choices').append(`<option data-lat=${value.place.location[0]} data-long=${value.place.location[1]}>${value.name}</option>`);   
		});
	$.each(activities, function(index, value) {
			$('#activity-choices').append(`<option data-lat=${value.place.location[0]} data-long=${value.place.location[1]}>${value.name}</option>`);  
		})


	$('#hotel-button').click(function(){
			  const $optionValue = $('#hotel-choices').val(); 
			  $('#my-hotel-list').append('<li>'+$optionValue + '<button class="btn btn-xs btn-danger remove btn-circle">x</button></li>');
			  var obj = $('#hotel-choices').find(':selected'); 
			  initialize_gmaps(obj[0].dataset.lat, obj[0].dataset.long);
			  schedule[$('.current-day').text()].hotels.push($optionValue); 
			  
	})

	$('#restaurant-button').click(function(){
			  const $optionValue = $('#restaurant-choices').val(); 
				$('#my-restaurant-list').append('<li>'+$optionValue + '<button class="btn btn-xs btn-danger remove btn-circle">x</button></li>');
				var obj = $('#hotel-choices').find(':selected'); 
				initialize_gmaps(obj[0].dataset.lat, obj[0].dataset.long); 
				schedule[$('.current-day').text()].restaurants.push($optionValue); 
			})

	$('#activity-button').click(function(){
				const $optionValue = $('#activity-choices').val(); 
				$('#my-activity-list').append('<li>'+$optionValue + '<button class="btn btn-xs btn-danger remove btn-circle">x</button></li>');
				var obj = $('#hotel-choices').find(':selected'); 
				initialize_gmaps(obj[0].dataset.lat, obj[0].dataset.long);
				schedule[$('.current-day').text()].activities.push($optionValue); 
			})


	$("#itinerary").on('click', '.remove', function() {
		$(this).closest('li').remove(); 
	})

	$("#day-add").on('click', function() {
		$(this).val(+$(this).val()+1); 
		$('.list-group').empty(); 
		$('.day-btn').removeClass('current-day'); 
		$('.day-buttons').append(`<button class="btn btn-circle day-btn current-day">${this.value}</button>`); 
		schedule[$('.current-day').text()] = { hotels : [], restaurants : [], activities : []}; 
	})

	$(".day-buttons").on('click', '.day-btn', function() {
		$('.day-btn').removeClass('current-day'); 
		$('.list-group').empty(); 
		$(this).addClass('current-day'); 
		renderPanel($('.current-day').text()); 	
	})

	function renderPanel(dayNum) {
		console.log(dayNum); 
		var hotels = schedule[dayNum].hotels; 
		var restaurants = schedule[dayNum].restaurants; 
		var activities = schedule[dayNum].activities; 

		hotels.forEach(function(val) {
			$('#my-hotel-list').append('<li>'+val+ '<button class="btn btn-xs btn-danger remove btn-circle">x</button></li>');
		})
		restaurants.forEach(function(val) {
			$('#my-restaurant-list').append('<li>'+val+ '<button class="btn btn-xs btn-danger remove btn-circle">x</button></li>');
		})
		activities.forEach(function(val) {
			$('#my-activity-list').append('<li>'+val+ '<button class="btn btn-xs btn-danger remove btn-circle">x</button></li>');
		})

		

	}


	


		</script>
		{% endblock %}